In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./data/businesses.csv')
df.head()

,id,name,price,city,state,zip_code
0,QoinB1-_xTQQPS5_jNqoQQ,LASO,$$,American Canyon,CA,94503
1,nYsjOjk3eIcLEQGpNvKigQ,La Strada,$$,American Canyon,CA,94503
2,khT8t8GzOoEE6C1dj38GIg,Le Paris Artisan & Gourmet Cafe,$$,American Canyon,CA,94503
3,CSYX9lbeXSqIJTh7GY3PdA,Ristorante Pasta D'oro,$$,American Canyon,CA,94503
4,vXCe-5mZ-Vwj9SFyUDUUCA,Maya Thai House,$$,Vallejo,CA,94590

In [2]:
df.shape

(4907, 6)

In [4]:
df_no_dup = df.drop_duplicates(subset='id', keep="first")
df_no_dup.shape

(4459, 6)

In [10]:
df_no_dup['price_numeric'] = df_no_dup['price'].str.len()
df_no_dup.head()

/var/folders/px/cj6_znpx779d6tpgb5dhmhvc0000gn/T/ipykernel_36582/137796261.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_dup['price_numeric'] = df_no_dup['price'].str.len()

,id,name,price,city,state,zip_code,price_numeric
0,QoinB1-_xTQQPS5_jNqoQQ,LASO,$$,American Canyon,CA,94503,2.0
1,nYsjOjk3eIcLEQGpNvKigQ,La Strada,$$,American Canyon,CA,94503,2.0
2,khT8t8GzOoEE6C1dj38GIg,Le Paris Artisan & Gourmet Cafe,$$,American Canyon,CA,94503,2.0
3,CSYX9lbeXSqIJTh7GY3PdA,Ristorante Pasta D'oro,$$,American Canyon,CA,94503,2.0
4,vXCe-5mZ-Vwj9SFyUDUUCA,Maya Thai House,$$,Vallejo,CA,94590,2.0

In [11]:
df_no_dup.to_csv(r'./data/businesses_no_dup.csv', index=False)